@import url(reset.css);

* {
  box-sizing: border-box;
}
body {
  width: 90%;
  background: radial-gradient(#40b840, #ae3390);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 150px;
}

#logo {
  float: left;
  margin: 15px;
}

h1 {
  float: left;
  font-size: 3em;
}

div img {
  float: left;
  max-width: 30%;
  /* max-height: 250px; */
  margin: 1.6%;
  border-radius: 5px;
}

div#photos {
  height: 100%;
}

li {
  list-style-type: square;
  text-indent: 10%;
  line-height: 1.5em;
}

#results {
  display: block;
}

